---
import Layout from "~/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const downloads = (await getCollection("downloads")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf(),
);
---

<Layout title="Trainings — Critical Systems Analysis">
  <div class="mx-auto max-w-7xl px-6 pb-16 lg:px-8">
    <h1
      class="text-primary-100 mt-16 text-center text-4xl font-bold tracking-tight sm:mt-32 md:text-5xl"
    >
      Trainings
    </h1>
    <ul class="mt-20 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        downloads.map(({ data, id }) => (
          <li class="relative">
            <article class="group bg-primary-800 border-primary-700 rounded-lg border p-6">
              <div class="overflow-hidden rounded-lg sm:aspect-square">
                <Image
                  src={data.heroImage.src}
                  alt={data.heroImage.alt}
                  inferSize={true}
                  class="sm:h-full!"
                  layout="full-width"
                />
              </div>
              <time
                class="text-primary-400 mt-4 block text-sm tracking-wide uppercase"
                datetime={data.date.toISOString()}
              >
                {data.date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
              <h2 class="text-primary-100 mt-1 block text-lg font-semibold group-hover:text-blue-500">
                {data.title}
              </h2>
              <p class="text-primary-400 mt-2 block">{data.description}</p>
              <a
                class="text-primary-100 mt-4 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-2 text-center font-semibold before:absolute before:inset-0 hover:bg-blue-700"
                href={`/trainings/${id}/`}
                class="before:absolute before:inset-0"
              >
                Read more
              </a>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
