---
import { getCollection, render } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const positions = await getCollection("articles");
  return positions.map((position) => ({
    params: { id: position.id },
    props: { position },
  }));
}

const { position } = Astro.props;
const { Content } = await render(position);
---

<Layout
  title={`${position.data.title} — Critical Systems Analysis`}
  description={position.data.description}
>
  <div class="mx-auto max-w-5xl px-8 pb-12 text-red-300">
    <time
      class="mt-16 block text-center text-lg font-semibold tracking-wide text-blue-500 uppercase sm:mt-32"
      datetime={position.data.date.toISOString()}
    >
      {
        position.data.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    <h1
      class="text-primary-100 mt-4 text-center text-4xl font-bold tracking-tight md:text-5xl"
    >
      {position.data.title}
    </h1>
    <Picture
      src={position.data.image.src}
      class="mt-12 mb-8 aspect-video w-full rounded-md object-cover"
      alt={position.data.image.alt}
      formats={["webp", "avif"]}
    />
    <aritcle
      class="prose lg:prose-lg text-primary-400 prose-headings:text-primary-100 prose-a:text-blue-500 prose-strong:text-primary-300"
    >
      <Content />
    </aritcle>
    <div
      class="bg-primary-800 border-primary-700 mt-12 flex flex-col rounded-lg border p-8 sm:flex-row sm:items-center sm:justify-between"
    >
      <div>
        <h2
          class="text-primary-100 text-2xl font-bold tracking-tight text-balance"
        >
          Interested in our services?
        </h2>
        <p
          class="text-primary-400 mt-2 max-w-prose leading-relaxed text-pretty sm:text-lg"
        >
          Contact us or learn more about the services CSA provides
        </p>
      </div>
      <a
        class="text-primary-100 mt-4 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700 sm:mt-0"
        href="/contact/">Contact us</a
      >
    </div>
  </div>
</Layout>
