---
import Layout from "~/layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "~/components/ArticleCard.astro";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="Articles — Critical Systems Analysis">
  <div class="mx-auto max-w-7xl px-6 pb-16 lg:px-8">
    <h1
      class="text-primary-100 mt-16 text-center text-4xl font-bold tracking-tight sm:mt-32 md:text-5xl"
    >
      Articles
    </h1>
    <ul class="mt-20 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        articles.map(({ data, id }) => (
          <li class="relative">
            <ArticleCard
              title={data.title}
              image={data.heroImage}
              id={id}
              date={data.date}
              description={data.description}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
