---
import Layout from "~/layouts/Layout.astro";

const role = {
  title: "Senior Safety Engineer",
  location: "U.S (Remote)",
  level: "Senior Level",
  type: "Full-time",
  department: "Engineering",
  overview:
    "As a Senior Safety Engineer, you will serve as the subject matter expert by leading technical aspects and providing team leadership for safety engineering projects. Responsibilities encompass conducting safety analysis, offering technical consulting, generating reports, and providing support for safety programs.",
  responsibilities: [
    "Manage safety programs. Provide project definition, management, budget compliance, schedule adherence, and project reporting. Supervising and managing team members.",
    "Lead safety engineering activities. Set direction for complex projects, develop schedules, and coordinate phases of projects.",
    "Develop safety requirements and safety plans, perform safety and hazard analysis, and report on findings. Supervising and managing team members.",
    "Review and interpret safety regulations and standards. Monitor client safety performance, conduct safety inspections, and assist in regulatory compliance.",
    "Train clients on safety program development, performance, documentation, and regulatory acceptance.",
    "Solve complex safety issues.",
    "Manage, train, and mentor Junior Safety Engineers.",
  ],
  qualifications: [
    "10+ years of experience as a Safety Engineer",
    "Expertise and understanding of technical analysis including hazard analyses, risk assessments, FTAs, and RBDs.",
    "Thorough understanding of the safety lifecycle.",
    "Knowledge of industry standards.",
    "Superior communication abilities, capable of articulating intricate scientific and technical data in a straightforward, brief, and comprehensible way, both orally and in technical documentation.",
  ],
  certifications: "Functional Safety Expert certificate or equivalent.",
  workEnvironment:
    "The Senior Safety Engineer position is fully remote, except for required travel to client facilities. As such, you will work from a home office.",
  benefits: [
    "Schedule flexibility.",
    "Company matched SIMPLE IRA.",
    "Company Matched HSA available.",
    "Medical, dental, and vision insurance covered.",
    "Generous PTO.",
  ],
};
---

<Layout title="Senior Safety Engineer — Critical Systems Analysis">
  <div class="mx-auto max-w-5xl px-8 pb-12">
    <h1
      class="text-primary-100 mt-16 text-center text-4xl font-bold tracking-tight sm:mt-32 md:text-5xl"
    >
      {role.title}
    </h1>
    <ul
      class="text-primary-400 my-6 flex flex-row flex-wrap justify-center gap-1 sm:text-lg"
    >
      <li class="after:mx-2 after:content-['•']">{role.department}</li>
      <li class="after:mx-2 after:content-['•']">{role.location}</li>
      <li class="after:mx-2 after:content-['•']">{role.type}</li>
      <li>{role.level}</li>
    </ul>
    <aritcle
      class="prose lg:prose-lg text-primary-400 prose-headings:text-primary-100"
    >
      <h2>Overview</h2>
      <p>{role.overview}</p>
      <h2>Responsibilities</h2>
      <ul>
        {
          role.responsibilities.map((responsibility) => (
            <li>{responsibility}</li>
          ))
        }
      </ul>
      <h2>Qualifications</h2>
      <ul>
        {role.qualifications.map((qualification) => <li>{qualification}</li>)}
      </ul>
      <h2>Certifications</h2>
      <p>{role.certifications}</p>
      <h2>Work Environment</h2>
      <p>{role.workEnvironment}</p>
      <h2>Benefits</h2>
      <ul>
        {role.benefits.map((benefit) => <li>{benefit}</li>)}
      </ul>
    </aritcle>
    <div
      class="bg-primary-800 border-primary-700 mt-8 flex flex-col items-center justify-center gap-4 rounded-lg border p-6 sm:p-8"
    >
      <p
        class="text-primary-100 text-center text-2xl font-semibold tracking-tight"
      >
        Want to join the CSA team?
      </p>
      <a
        class="text-primary-100 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700 sm:mt-0"
        href="/careers/aplication/">Apply now</a
      >
    </div>
  </div>
</Layout>
