---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import ContactUs from "~/components/widgets/Contact.astro";
import Features2 from "~/components/widgets/Features2.astro";
import { Resend } from "resend";

export const prerender = false;

let data: FormData = new FormData();
let missing: string[] = [];
if (Astro.request.method === "POST") data = await Astro.request.formData();
["first", "last", "email", "phone", "location", "position"].forEach(
  (i) => !data.get(i) && missing.push(i),
);

if (Astro.request.method === "POST" && missing.length === 0) {
  const first = data.get("first");
  const last = data.get("last");
  const email = data.get("email");
  const phone = data.get("phone");
  const location = data.get("location");
  const info = data.get("info");
  const position = data.get("position");
  const linkedin = data.get("linkedin");
  const resume = data.get("resume");
  const experience = data.get("experience");
  const message = data.get("message");
  const resend = new Resend(import.meta.env.RESEND_API_KEY);
  const res = await resend.emails.send({
    from: "no-reply@skyramedia.com",
    to: "marketing@criticalsa.com",
    subject: `Job application: ${first} ${last}`,
    text: `From: ${first} ${last} (${email})\nPhone: ${phone}\nLocation: ${location}\nWhere did you here about us?: ${info}\nPosition: ${position}\nLinkedin: ${linkedin}\nExperience: ${experience}\n\nMessage:\n${message}`,
    attachments: [
      {
        filename: "resume.pdf",
        content: Buffer.from(await (resume as File).arrayBuffer()),
      },
    ],
  });
}

const metadata = {
  title: "Apply",
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Critical Systems Analysis" title="Application" />

  {
    missing.length !== 0 && (
      <p class="text-center text-red-500">*Fill in the required fields</p>
    )
  }

  {
    Astro.request.method === "POST" && missing.length === 0 && (
      <p class="text-center">
        <span class="rounded-full bg-green-500 px-8 py-4 text-xl text-white">
          Thank you!
        </span>
      </p>
    )
  }

  <ContactUs
    id="form3"
    title="Personal and Professional Information"
    subtitle=""
    inputs={[
      {
        type: "text",
        name: "first",
        label: "First Name *",
        value: data.get("first"),
      },
      {
        type: "text",
        name: "last",
        label: "Last Name *",
        value: data.get("last"),
      },
      {
        type: "email",
        name: "email",
        label: "Email *",
        value: data.get("email"),
      },
      {
        type: "tel",
        name: "phone",
        label: "Phone *",
        value: data.get("phone"),
      },
      {
        type: "text",
        name: "location",
        label: "Country of Residence *",
        value: data.get("location"),
      },
      {
        type: "text",
        name: "info",
        label: "How did you hear about us?",
      },
      {
        type: "select",
        name: "position",
        label: "Position *",
        value: data.get("position"),
      },
      {
        type: "text",
        name: "linkedin",
        label: "LinkedIn Profile Link",
      },
      {
        type: "file",
        name: "resume",
        label: "Resume",
      },
      {
        type: "number",
        name: "experience",
        label: "Years of Experience",
      },
    ]}
    textarea={{
      name: "message",
      label: "Additional Comments",
    }}
    description=""
    button="Submit Application"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: "Phone",
        description: "+1 (941) 900-4047",
        icon: "tabler:headset",
      },
      {
        title: "Email",
        description: "Sales@CriticalSA.com",
        icon: "tabler:mail",
      },
      {
        title: "Location",
        description: "United States",
        icon: "tabler:map-pin",
      },
    ]}
  />
</Layout>
