---
import "~/styles/global.css";
import "@fontsource-variable/inter";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import { defaultMeta } from "~/content/constants";

export interface Props {
  includeHeader?: boolean;
  includeFooter?: boolean;
  title?: string;
  description?: string;
  ogImage?: {
    url: string;
    alt: string;
  };
}

const {
  title = defaultMeta.title,
  description = defaultMeta.description,
  ogImage = {
    url: defaultMeta.og.url,
    alt: defaultMeta.og.alt,
  },
  includeFooter = true,
  includeHeader = true,
} = Astro.props;

const ogImageURL = new URL(ogImage.url, Astro.site).href;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="google-site-verification"
      content="orcPxI47GSa-cRvY11tUe6iGg2IO_RPvnA1q95iEM3M"
    />
    <link rel="canonical" href={Astro.url.href} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:image:alt" content={ogImage.alt} />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:site_name"
      content={defaultMeta.title}
      <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage.url} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
  </head>
  <body class="bg-primary-900 font-sans antialiased">
    {includeHeader && <Header />}
    <main>
      <slot />
    </main>
    {includeFooter && <Footer />}
  </body>
</html>
